<a href="https://colab.research.google.com/github/jeppchumba/Tweets-Classification-ML/blob/main/Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#uploading uncleanData dataset into colab
from google.colab import files
uploaded = files.upload()

Saving ParabolaDataset.csv to ParabolaDataset.csv

In [ ]:
import pandas as pd
df=pd.read_csv('ParabolaDataset.csv')
df

                                                  tweets  ...         Label
0                                 Get fucking real dude.  ...      Bullying
1       She is as dirty as they come  and that crook ...  ...      Bullying
2       why did you fuck it up. I could do it all day...  ...      Bullying
3       Dude they dont finish enclosing the fucking s...  ...      Bullying
4       WTF are you talking about Men? No men thats n...  ...      Bullying
...                                                  ...  ...           ...
19996   I dont. But what is complaining about it goin...  ...  Non Bullying
19997   Bahah  yeah i&;m totally just gonna&; get pis...  ...  Non Bullying
19998       hahahahaha >:) im evil mwahahahahahahahahaha  ...  Non Bullying
19999            What&;s something unique about Ohio? :)  ...  Non Bullying
20000              Who is the biggest gossiper you know?  ...  Non Bullying

[20001 rows x 3 columns]

In [ ]:
df['tweets']

0                                   Get fucking real dude.
1         She is as dirty as they come  and that crook ...
2         why did you fuck it up. I could do it all day...
3         Dude they dont finish enclosing the fucking s...
4         WTF are you talking about Men? No men thats n...
                               ...
19996     I dont. But what is complaining about it goin...
19997     Bahah  yeah i&;m totally just gonna&; get pis...
19998         hahahahaha >:) im evil mwahahahahahahahahaha
19999              What&;s something unique about Ohio? :)
20000                Who is the biggest gossiper you know?
Name: tweets, Length: 20001, dtype: object

In [ ]:
#removing RT
import re
df['tweets'] =df['tweets'].apply(lambda x: re.compile('\#').sub('', re.compile('RT @').sub('@', x, count=1).strip()))
df

                                                  tweets  ...         Label
0                                 Get fucking real dude.  ...      Bullying
1      She is as dirty as they come  and that crook R...  ...      Bullying
2      why did you fuck it up. I could do it all day ...  ...      Bullying
3      Dude they dont finish enclosing the fucking sh...  ...      Bullying
4      WTF are you talking about Men? No men thats no...  ...      Bullying
...                                                  ...  ...           ...
19996  I dont. But what is complaining about it going...  ...  Non Bullying
19997  Bahah  yeah i&;m totally just gonna&; get piss...  ...  Non Bullying
19998       hahahahaha >:) im evil mwahahahahahahahahaha  ...  Non Bullying
19999            What&;s something unique about Ohio? :)  ...  Non Bullying
20000              Who is the biggest gossiper you know?  ...  Non Bullying

[20001 rows x 3 columns]

In [ ]:
#lowercasing
df_clean=df.tweets.str.lower()
df_clean

0                                   get fucking real dude.
1        she is as dirty as they come  and that crook r...
2        why did you fuck it up. i could do it all day ...
3        dude they dont finish enclosing the fucking sh...
4        wtf are you talking about men? no men thats no...
                               ...
19996    i dont. but what is complaining about it going...
19997    bahah  yeah i&;m totally just gonna&; get piss...
19998         hahahahaha >:) im evil mwahahahahahahahahaha
19999              what&;s something unique about ohio? :)
20000                who is the biggest gossiper you know?
Name: tweets, Length: 20001, dtype: object

In [ ]:
#remove mentions
import re
df_clean=df_clean.apply(lambda x: re.sub(r'@[A-Za-z0-9_ ]+','',x))

In [ ]:
df_clean

0                                   get fucking real dude.
1        she is as dirty as they come  and that crook r...
2        why did you fuck it up. i could do it all day ...
3        dude they dont finish enclosing the fucking sh...
4        wtf are you talking about men? no men thats no...
                               ...
19996    i dont. but what is complaining about it going...
19997    bahah  yeah i&;m totally just gonna&; get piss...
19998         hahahahaha >:) im evil mwahahahahahahahahaha
19999              what&;s something unique about ohio? :)
20000                who is the biggest gossiper you know?
Name: tweets, Length: 20001, dtype: object

In [ ]:
len(df_clean)

20001

In [ ]:
#Number of Words
df_clean['word_count'] =df_clean.apply(lambda x: len(str(x).split(" ")))

In [ ]:
#Character Count
df_clean['char_count'] = df_clean.str.len() ## this also includes spaces

In [ ]:
#removing urls
import re
df_clean=df_clean.apply(str)
df_clean = df_clean.apply(lambda x: re.sub(r'https?:\/\/\S+', '', x))

In [ ]:
df_clean.apply(lambda x: re.sub(r"www\.[a-z]?\.?(com)+|[a-z]+\.(com)", '', x))

0                                   get fucking real dude.
1        she is as dirty as they come  and that crook r...
2        why did you fuck it up. i could do it all day ...
3        dude they dont finish enclosing the fucking sh...
4        wtf are you talking about men? no men thats no...
                               ...
19996    i dont. but what is complaining about it going...
19997    bahah  yeah i&;m totally just gonna&; get piss...
19998         hahahahaha >:) im evil mwahahahahahahahahaha
19999              what&;s something unique about ohio? :)
20000                who is the biggest gossiper you know?
Name: tweets, Length: 20001, dtype: object

In [ ]:
#removing placeholders for urls
df_clean= df_clean.apply(lambda x: re.sub(r'{link}', '', x))
df_clean = df_clean.apply(lambda x: re.sub(r"\[video\]", '', x))

In [ ]:
#removing html reference characters
df_clean = df_clean.apply(lambda x: re.sub(r'&[a-z]+;', '', x))

In [ ]:
#Removing Punctuations
df_clean=df_clean.str.replace('[^\w\s]','')

In [ ]:
df_clean.head()

0                                get fucking real dude
1    she is as dirty as they come  and that crook r...
2    why did you fuck it up i could do it all day t...
3    dude they dont finish enclosing the fucking sh...
4    wtf are you talking about men no men thats not...
Name: tweets, dtype: object

In [ ]:
import seaborn as sns
import matplotlib.pyplot as mp
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import *
import string
import nltk
import warnings

In [ ]:
#Number of stopwords
import nltk
nltk.download('stopwords')# downlaoding the package.
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
stop = stopwords.words('english')

df_clean['stopwords'] = df_clean.apply(lambda x: len([x for x in x.split() if x in stop]))
df_clean

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

0              i care about language is stupid for so many r...
1              me at  what if people think im stupid\nme at ...
2
3               fuck i hope i didnt just do something stupid af
4              your afghan traditions and morals dont teach ...
                                    ...
10098                                                         e
10099                                                         e
word_count            \n        \n         \n        \n     ...
char_count                    \n               \n           ...
stopwords     0              8
1             14
2           ...
Name: full_text, Length: 10103, dtype: object

In [ ]:
# Removing stopwords
df_clean=df_clean.astype(str)
stop = stopwords.words('english')
df_clean['tweets'] =df_clean.apply(lambda x: " ".join(x for x in x.split() if x not in stop))

In [ ]:
df_clean

                                                    full_text
0            i care about language is stupid for so many r...
1            me at  what if people think im stupid\nme at ...
2
3             fuck i hope i didnt just do something stupid af
4            your afghan traditions and morals dont teach ...
...                                                       ...
10099                                                       e
word_count          \n        \n         \n        \n     ...
char_count                  \n               \n           ...
stopwords   0              8\n1             14\n2         ...
tweets      0                         care language stupid...

[10104 rows x 1 columns]

In [ ]:
df_clean.columns =['tweets']
df_clean

                                                       tweets
0            i care about language is stupid for so many r...
1            me at  what if people think im stupid\nme at ...
2
3             fuck i hope i didnt just do something stupid af
4            your afghan traditions and morals dont teach ...
...                                                       ...
10099                                                       e
word_count          \n        \n         \n        \n     ...
char_count                  \n               \n           ...
stopwords   0              8\n1             14\n2         ...
tweets      0                         care language stupid...

[10104 rows x 1 columns]

In [ ]:
df_clean.to_csv('ModelDataset.csv', encoding='utf-8', index=False)